
# ========================
# ASP.NET Core backend
# ========================
/WebChat/.vs
/WebChat/WebChat/bin/
/WebChat/WebChat/obj/

# User-specific files
*.user
*.suo

# ========================
# Angular frontend
# ========================
/WebChatApp/node_modules/
/WebChatApp/dist/
/WebChatApp/tmp/
/WebChatApp/out-tsc/
/WebChatApp/bazel-out/
/WebChatApp/.angular/cache

# ========================
# IDE/editor configs
# ========================
/WebChatApp/.vscode/*
!/WebChatApp/.vscode/settings.json
!/WebChatApp/.vscode/tasks.json
!/WebChatApp/.vscode/launch.json
!/WebChatApp/.vscode/extensions.json


/WebChatApp/npm-debug.log*
/WebChatApp/yarn-error.log*
